@mixin media-sm {
	@media screen and (max-width: 440px) {
		@content;
	}
}

.headerInfo{
    display: flex;
    justify-content: space-between;

    .headerLogo{
        padding-top:10px ;
        padding-left: 32px;
       @include media-sm{
            width: 80%;
       }
    }

    .rightHeader{
        display: flex;
        .headerLogo{
          display: flex;
          padding:10px;  
        }
        .userName{
            color: #333333;
            font-weight: 700;
            font-size: 16px;
            padding:24px 20px;
            @include media-sm{
                display: none;
            }
        }
        .logOut{
            padding:24px 20px;
            font-size: 16px;
            cursor: pointer;
            @include media-sm{
                padding-top: 20px;
                padding-left: 0;
           }
        }
    }

}


.dialog{
    width: 500px;
    position: absolute;
    right: 80px;
    top: 10px;
    background: wheat;
    z-index: 9999;
    border-radius: 10px;
    box-shadow: #333333;
    .titleLogout{
        font-size: 20px;
        padding: 20px;
        margin-right: 10px;
    }
    .question{
        display: flex;
        justify-content: center;
        padding: 10px;
        .confirmBtn{
            border: 1px solid royalblue;
            background: white;
            padding: 10px;
            width: 100px;
            border-radius: 10px;
            margin-right: 10px;
            cursor: pointer;
        }
        .cancelBtn{
            border: 1px solid rosybrown;
            background: white;
            padding: 10px;
            width: 100px;
            border-radius: 10px;
            cursor: pointer;
        }
    }

}
